@font-face {
  font-family: SimpleSerenity;
  src: url(fonts/Simple-Serenity-Script.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

html {
  font-size: 100%;
  scroll-behavior: smooth;
}
.banner-img {
  max-height: 100vh;
  min-height: 100vh;
  background-image: url("images/banner.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.side-banner {
  background-color: #ccc9c6;
}

.side-banner .box {
  width: 80%;
  margin-bottom: 40px;
}

.side-banner h2 {
  font-size: 2.5rem;
  color: #996a30;
  text-decoration: underline;
  font-family: SimpleSerenity;
  text-transform: uppercase;
}

.title-1 {
  font-size: 2.5rem;
  color: #996a30;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 700;
}

.title-2 {
  font-size: 1.8rem;
  color: #996a30;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 400;
}

#about-us {
  background-image: url("images/section_background.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 30px;
}

.about-us-content {
  background-color: #f2efeb;
  margin: 60px;
  padding: 50px 70px;
}

.text-1 {
  font-size: 1.5rem;
  font-family: "Libre Baskerville", serif;
  color: #060960;
}

.text-3 {
  font-size: 1.2rem;
  font-family: "Libre Baskerville", serif;
  color: #060960;
}

.search-button-container {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-1 {
  background-color: #f2efeb;
  color: #060960;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 30px;
  border-color: #996a30;
  width: 100%;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.btn-1:hover {
  transition: all 0.3s ease-in-out;
  background-color: #996a30;
  color: #f2efeb;
}

.icon-box img {
  width: 30%;
  height: auto;
  margin-bottom: 20px;
}

#real-estate-mediation {
  background-color: #ccc9c6;
  padding: 70px 30px;
}

.real-estate-mediation-content {
  background-color: #f2efeb;
}

.legal-services-content {
  background-color: #f2efeb;
}

.legal-services-content .side-box {
  background-color: #f2efeb;
}

.legal-services-content .middle-box {
  background-color: #4c4c44;
}

.legal-services-content .middle-box img {
  filter: brightness(0) invert(1);
  width: 100%;
}

#assessment-and-consultancy {
  background-image: url("images/section_background.jpg");
  padding: 70px 30px;
}
